<div id="canvas_clientLaunch" class="container-fluid rounded text-center text-muted" style="height:500px;width:800px;padding:0px"></div>

<script type="text/javascript">
    let clientLaunchChart = echarts.init(document.getElementById('canvas_clientLaunch'));
    $(window).resize(function () {
        clientLaunchChart.resize();
    });
    try {
        clientLaunchChart.showLoading();

        option = {
            title: {
                text: '客户端启动耗时'
            },
            legend: {
                data: ['1.3.0.065', '1.3.0.067']
            },
            xAxis: {
                type: 'category',
                data: ['2019/3/20 11:37:29', '2019/3/21 11:37:29', '2019/3/21 15:34:46', '2019/3/23 15:34:46'],
            },
            yAxis: {
                type: 'value'
            },
            series: [

                {
                    name: '1.3.0.065',
                    type: 'bar',
                    stack: '1.3.0.065',
                    data: [['2019/3/20 11:37:29', 101083], ['2019/3/21 11:37:29', 101083]]
                },

                {
                    name: '1.3.0.067',
                    type: 'bar',
                    stack: '1.3.0.067',
                    data: [['2019/3/21 15:34:46', 217427], ['2019/3/23 15:34:46', 207427]]
                }
            ]
        };

        clientLaunchChart.setOption(option);
    } catch (err) {
        $('#canvas_clientLaunch').html("加载出错，请刷新页面重试 ...");
    } finally {
        clientLaunchChart.hideLoading();
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-left">
                <div class="card-header">
                    <kbd class="bg-success">1.3.0.065</kbd> 版本客户端启动-统计
                </div>
                <div class="card-body">
                    <h5 class="card-title">启动次数：2 次</h5>
                    <div class="card-text">
                        <ul>
                            <li>平均耗时：101.08 秒</li>
                            <li>最大耗时：101.08 秒</li>
                            <li>最小耗时：101.08 秒</li>
                        </ul>
                    </div>
                    <hr />
                    <h5 class="card-title"><span class="badge badge-warning">平均启动耗时Top：</span></h5>
                    <div class="card-text">
                        <ul>
                            <li>第一阶段初始化 - <span class="badge badge-danger">27792</span></li>
                            <li>从服务端加载第一阶段缓存 - <span class="badge badge-danger">24906</span></li>
                            <li>TTRD_ACC_SECU_EXT_MAP - <span class="badge badge-danger">7553</span></li>
                            <li>TTRD_ACC_SECU_EXT_MAP - <span class="badge badge-danger">7553</span></li>
                            <li>TTRD_OTC_COUNTERPARTY - <span class="badge badge-danger">4004</span></li>
                            <li>TTRD_OTC_COUNTERPARTY - <span class="badge badge-danger">4004</span></li>
                        </ul>
                    </div>
                    <hr />
                    <h5 class="card-title"><span class="badge badge-info">2019-12-12 10:11:31</span> 启动耗时Top：</h5>
                    <div class="card-text">
                        <ul>
                            <li>第一阶段初始化 - <span class="badge badge-danger">27792</span></li>
                            <li>从服务端加载第一阶段缓存 - <span class="badge badge-danger">24906</span></li>
                            <li>TTRD_ACC_SECU_EXT_MAP - <span class="badge badge-danger">7553</span></li>
                            <li>TTRD_ACC_SECU_EXT_MAP - <span class="badge badge-danger">7553</span></li>
                            <li>TTRD_OTC_COUNTERPARTY - <span class="badge badge-danger">4004</span></li>
                            <li>TTRD_OTC_COUNTERPARTY - <span class="badge badge-danger">4004</span></li>
                        </ul>
                    </div>
                    <hr />
                    <h5 class="card-title"><span class="badge badge-info">2019-12-12 10:11:31</span> 启动耗时Top：</h5>
                    <div class="card-text">
                        <ul>
                            <li>第一阶段初始化 - <span class="badge badge-danger">27792</span></li>
                            <li>从服务端加载第一阶段缓存 - <span class="badge badge-danger">24906</span></li>
                            <li>TTRD_ACC_SECU_EXT_MAP - <span class="badge badge-danger">7553</span></li>
                            <li>TTRD_ACC_SECU_EXT_MAP - <span class="badge badge-danger">7553</span></li>
                            <li>TTRD_OTC_COUNTERPARTY - <span class="badge badge-danger">4004</span></li>
                            <li>TTRD_OTC_COUNTERPARTY - <span class="badge badge-danger">4004</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>