<h1>客户端启动</h1>
<div class="card">
    <div class="card-header">
        客户端启动-统计
    </div>

    <div class="card-body text-left">
        <h5 class="card-title">启动次数：{monitor.AnalysisResults.Count(r => r.IsIntactGroup())} 次</h5>
        <div class="card-text">
        </div>
    </div>
</div>