<div class="row align-content-center"><span class="badge badge-danger">排行榜排序字段</span> <span class="badge badge-warning">平均耗时</span> <span class="badge badge-info">服务调用次数</span></div>
<hr>
<div class="row">

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                总耗时-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li>Fix_UP <span class="badge badge-danger">156,712</span> <span class="badge badge-info">6,656</span></li>
                        <li>数据变动监控服务 <span class="badge badge-danger">134,305</span> <span class="badge badge-info">225</span></li>
                        <li>限额服务 <span class="badge badge-danger">54,056</span> <span class="badge badge-info">1</span></li>
                        <li>外汇上行2.0请求报价服务 <span class="badge badge-danger">33,462</span> <span class="badge badge-info">6,716</span></li>
                        <li>外汇上行2.0对话报价服务 <span class="badge badge-danger">29,796</span> <span class="badge badge-info">6,718</span></li>
                        <li>清算请求服务 <span class="badge badge-danger">29,713</span> <span class="badge badge-info">13,571</span></li>
                        <li>交易接口服务 <span class="badge badge-danger">24,655</span> <span class="badge badge-info">226</span></li>
                        <li>数据加载服务 <span class="badge badge-danger">23,628</span> <span class="badge badge-info">1</span></li>
                        <li>固收上行协议回购服务 <span class="badge badge-danger">9,908</span> <span class="badge badge-info">6,738</span></li>
                        <li>交易所自动补单服务 <span class="badge badge-danger">9,568</span> <span class="badge badge-info">1,348</span></li>
                        <li>交易匹配服务 <span class="badge badge-danger">4,956</span> <span class="badge badge-info">1,134</span></li>
                        <li>MQ请求任务服务(消费者) <span class="badge badge-danger">843</span> <span class="badge badge-info">228</span></li>
                        <li>任务服务(生产者) <span class="badge badge-danger">387</span> <span class="badge badge-info">227</span></li>
                        <li>EXH_Dealy <span class="badge badge-danger">370</span> <span class="badge badge-info">13,461</span></li>
                        <li>报表导出服务 <span class="badge badge-danger">339</span> <span class="badge badge-info">224</span></li>
                        <li>新意银企直联服务 <span class="badge badge-danger">52</span> <span class="badge badge-info">1,349</span></li>
                        <li>EXH_Res <span class="badge badge-danger">30</span> <span class="badge badge-info">13,589</span></li>
                        <li>邮件发送服务 <span class="badge badge-danger">27</span> <span class="badge badge-info">225</span></li>
                        <li>外汇交易中心上行服务 <span class="badge badge-danger">22</span> <span class="badge badge-info">1,350</span></li>
                        <li>任务响应服务 <span class="badge badge-danger">5</span> <span class="badge badge-info">1</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                平均耗时-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li>限额服务 <span class="badge badge-warning">54,056.00</span> <span class="badge badge-info">1</span></li>
                        <li>数据加载服务 <span class="badge badge-warning">23,628.00</span> <span class="badge badge-info">1</span></li>
                        <li>数据变动监控服务 <span class="badge badge-warning">596.91</span> <span class="badge badge-info">225</span></li>
                        <li>交易接口服务 <span class="badge badge-warning">109.09</span> <span class="badge badge-info">226</span></li>
                        <li>Fix_UP <span class="badge badge-warning">23.54</span> <span class="badge badge-info">6,656</span></li>
                        <li>交易所自动补单服务 <span class="badge badge-warning">7.10</span> <span class="badge badge-info">1,348</span></li>
                        <li>任务响应服务 <span class="badge badge-warning">5.00</span> <span class="badge badge-info">1</span></li>
                        <li>外汇上行2.0请求报价服务 <span class="badge badge-warning">4.98</span> <span class="badge badge-info">6,716</span></li>
                        <li>外汇上行2.0对话报价服务 <span class="badge badge-warning">4.44</span> <span class="badge badge-info">6,718</span></li>
                        <li>交易匹配服务 <span class="badge badge-warning">4.37</span> <span class="badge badge-info">1,134</span></li>
                        <li>MQ请求任务服务(消费者) <span class="badge badge-warning">3.70</span> <span class="badge badge-info">228</span></li>
                        <li>清算请求服务 <span class="badge badge-warning">2.19</span> <span class="badge badge-info">13,571</span></li>
                        <li>任务服务(生产者) <span class="badge badge-warning">1.70</span> <span class="badge badge-info">227</span></li>
                        <li>报表导出服务 <span class="badge badge-warning">1.51</span> <span class="badge badge-info">224</span></li>
                        <li>固收上行协议回购服务 <span class="badge badge-warning">1.47</span> <span class="badge badge-info">6,738</span></li>
                        <li>邮件发送服务 <span class="badge badge-warning">0.12</span> <span class="badge badge-info">225</span></li>
                        <li>新意银企直联服务 <span class="badge badge-warning">0.04</span> <span class="badge badge-info">1,349</span></li>
                        <li>EXH_Dealy <span class="badge badge-warning">0.03</span> <span class="badge badge-info">13,461</span></li>
                        <li>外汇交易中心上行服务 <span class="badge badge-warning">0.02</span> <span class="badge badge-info">1,350</span></li>
                        <li>本地计算任务服务(消费者) <span class="badge badge-warning">0.01</span> <span class="badge badge-info">227</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                最大耗时-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li>限额服务 <span class="badge badge-danger">54,056</span> <span class="badge badge-warning">54,056.00</span> <span class="badge badge-info">1</span></li>
                        <li>数据加载服务 <span class="badge badge-danger">23,628</span> <span class="badge badge-warning">23,628.00</span> <span class="badge badge-info">1</span></li>
                        <li>Fix_UP <span class="badge badge-danger">1,620</span> <span class="badge badge-warning">23.54</span> <span class="badge badge-info">6,656</span></li>
                        <li>数据变动监控服务 <span class="badge badge-danger">1,554</span> <span class="badge badge-warning">596.91</span> <span class="badge badge-info">225</span></li>
                        <li>固收上行协议回购服务 <span class="badge badge-danger">1,043</span> <span class="badge badge-warning">1.47</span> <span class="badge badge-info">6,738</span></li>
                        <li>MQ请求任务服务(消费者) <span class="badge badge-danger">843</span> <span class="badge badge-warning">3.70</span> <span class="badge badge-info">228</span></li>
                        <li>EXH_Dealy <span class="badge badge-danger">370</span> <span class="badge badge-warning">0.03</span> <span class="badge badge-info">13,461</span></li>
                        <li>任务服务(生产者) <span class="badge badge-danger">324</span> <span class="badge badge-warning">1.70</span> <span class="badge badge-info">227</span></li>
                        <li>交易接口服务 <span class="badge badge-danger">322</span> <span class="badge badge-warning">109.09</span> <span class="badge badge-info">226</span></li>
                        <li>交易匹配服务 <span class="badge badge-danger">299</span> <span class="badge badge-warning">4.37</span> <span class="badge badge-info">1,134</span></li>
                        <li>外汇上行2.0对话报价服务 <span class="badge badge-danger">174</span> <span class="badge badge-warning">4.44</span> <span class="badge badge-info">6,718</span></li>
                        <li>清算请求服务 <span class="badge badge-danger">162</span> <span class="badge badge-warning">2.19</span> <span class="badge badge-info">13,571</span></li>
                        <li>外汇上行2.0请求报价服务 <span class="badge badge-danger">34</span> <span class="badge badge-warning">4.98</span> <span class="badge badge-info">6,716</span></li>
                        <li>交易所自动补单服务 <span class="badge badge-danger">33</span> <span class="badge badge-warning">7.10</span> <span class="badge badge-info">1,348</span></li>
                        <li>EXH_Res <span class="badge badge-danger">30</span> <span class="badge badge-warning">0.00</span> <span class="badge badge-info">13,589</span></li>
                        <li>邮件发送服务 <span class="badge badge-danger">27</span> <span class="badge badge-warning">0.12</span> <span class="badge badge-info">225</span></li>
                        <li>外汇交易中心上行服务 <span class="badge badge-danger">18</span> <span class="badge badge-warning">0.02</span> <span class="badge badge-info">1,350</span></li>
                        <li>报表导出服务 <span class="badge badge-danger">9</span> <span class="badge badge-warning">1.51</span> <span class="badge badge-info">224</span></li>
                        <li>新意银企直联服务 <span class="badge badge-danger">7</span> <span class="badge badge-warning">0.04</span> <span class="badge badge-info">1,349</span></li>
                        <li>任务响应服务 <span class="badge badge-danger">5</span> <span class="badge badge-warning">5.00</span> <span class="badge badge-info">1</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                调用次数-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li>EXH_Res <span class="badge badge-info">13,589</span> <span class="badge badge-warning">0.00</span></li>
                        <li>清算请求服务 <span class="badge badge-info">13,571</span> <span class="badge badge-warning">2.19</span></li>
                        <li>EXH_Stg <span class="badge badge-info">13,481</span> <span class="badge badge-warning">0.00</span></li>
                        <li>EXH_Dealy <span class="badge badge-info">13,461</span> <span class="badge badge-warning">0.03</span></li>
                        <li>固收上行协议回购服务 <span class="badge badge-info">6,738</span> <span class="badge badge-warning">1.47</span></li>
                        <li>外汇上行2.0对话报价服务 <span class="badge badge-info">6,718</span> <span class="badge badge-warning">4.44</span></li>
                        <li>外汇上行2.0请求报价服务 <span class="badge badge-info">6,716</span> <span class="badge badge-warning">4.98</span></li>
                        <li>Fix_UP <span class="badge badge-info">6,656</span> <span class="badge badge-warning">23.54</span></li>
                        <li>消息服务 <span class="badge badge-info">2,731</span> <span class="badge badge-warning">0.00</span></li>
                        <li>中债直联合同服务 <span class="badge badge-info">1,356</span> <span class="badge badge-warning">0.00</span></li>
                        <li>中债直联通用服务 <span class="badge badge-info">1,352</span> <span class="badge badge-warning">0.00</span></li>
                        <li>中债直联指令服务 <span class="badge badge-info">1,351</span> <span class="badge badge-warning">0.00</span></li>
                        <li>外汇交易中心上行服务 <span class="badge badge-info">1,350</span> <span class="badge badge-warning">0.02</span></li>
                        <li>新意银企直联服务 <span class="badge badge-info">1,349</span> <span class="badge badge-warning">0.04</span></li>
                        <li>IR通信服务 <span class="badge badge-info">1,348</span> <span class="badge badge-warning">0.00</span></li>
                        <li>清算所直联合同服务 <span class="badge badge-info">1,348</span> <span class="badge badge-warning">0.00</span></li>
                        <li>交易所自动补单服务 <span class="badge badge-info">1,348</span> <span class="badge badge-warning">7.10</span></li>
                        <li>交易匹配服务 <span class="badge badge-info">1,134</span> <span class="badge badge-warning">4.37</span></li>
                        <li>EXH_Req <span class="badge badge-info">757</span> <span class="badge badge-warning">0.00</span></li>
                        <li>MQ请求任务服务(消费者) <span class="badge badge-info">228</span> <span class="badge badge-warning">3.70</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
