@page
@model IndexModel
@{
    ViewData["Title"] = "图标报告";
}

<div class="report-container container-fluid bg-light" id="container_memory" style="display: none;">
    <h1>内存</h1>
</div>
<div class="report-container container-fluid bg-light" id="container_clientLaunch" style="display: none;">
    <h1>客户端启动</h1>
</div>
<div class="report-container container-fluid bg-light" id="container_serverLaunch" style="display: none;">
    <h1>服务端启动</h1>
</div>
<div class="report-container container-fluid bg-light" id="container_monitor" style="display: none;">
    <h1>事项</h1>
</div>
<div class="report-container container-fluid bg-light" id="container_performance" style="display: none;">
    <h1>请求</h1>
</div>
