@page
@model TaskArgument
@{
    ViewData["Title"] = "xQuant 图表报告";
}

<div class="report-container container-fluid" id="container_memory" style="display:none;height:500px">
    @{ await Html.RenderPartialAsync("Memory", this.Model);}
</div>
<div class="report-container container-fluid" id="container_clientLaunch" style="display:none">
    @{ await Html.RenderPartialAsync("ClientLaunch", this.Model);}
</div>
<div class="report-container container-fluid" id="container_serverLaunch" style="display:none">
    @{ await Html.RenderPartialAsync("ServerLaunch", this.Model);}
</div>
<div class="report-container container-fluid" id="container_monitor" style="display:none">
    @{ await Html.RenderPartialAsync("Monitor", this.Model);}
</div>
<div class="report-container container-fluid" id="container_performance" style="display:none">
    @{ await Html.RenderPartialAsync("Performance", this.Model);}
</div>
