
<div id="canvas_monitor" class="container-fluid rounded text-center text-muted" style="height:500px;width:800px;padding:0px"></div>

<script type="text/javascript">
    let monitorChart = echarts.init(document.getElementById('canvas_monitor'));
    $(window).resize(function () {
        monitorChart.resize();
    });
    try {
        monitorChart.showLoading();

        option = {
            title: {
                text: '监视事项'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['COM初始化', 'TBND', 'TFND', 'TTRD_ACC_BALANCE_CASH', 'TTRD_ACC_BALANCE_SECU', 'TTRD_OTC_COUNTERPARTY', 'TTRD_OTC_POOL', 'TTRD_OTC_POOL_COMPONENT', 'TTRD_OTC_TRADE', 'VSTK', '加载后续持仓债券现金流', '交易对手、金融工具出入池', '启动服务', '数据加载服务', '自动出入池刷新']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: [{
                type: 'inside',
            }, {
                handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                handleStyle: {
                    color: '#fff',
                    shadowBlur: 3,
                    shadowColor: 'rgba(0, 0, 0, 0.6)',
                    shadowOffsetY: 2
                }
            }],
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['2019/3/25 14:31:34', '2019/3/25 14:31:36', '2019/3/25 14:31:39', '2019/3/25 14:31:49', '2019/3/25 14:32:02', '2019/3/25 14:32:18', '2019/3/25 14:32:39', '2019/3/25 14:32:47', '2019/3/25 14:32:53', '2019/3/25 14:33:21', '2019/3/25 14:36:28', '2019/3/25 14:36:30', '2019/3/25 14:36:38', '2019/3/25 14:36:53', '2019/3/25 14:37:08', '2019/3/25 14:37:26', '2019/3/25 14:37:32', '2019/3/25 14:37:35', '2019/3/25 14:37:54', '2019/3/25 14:40:02', '2019/3/25 14:40:03', '2019/3/25 14:40:04', '2019/3/25 14:40:13', '2019/3/25 14:40:14', '2019/3/25 14:40:26', '2019/3/25 14:40:38', '2019/3/25 14:40:57', '2019/3/25 14:41:05', '2019/3/25 14:41:09', '2019/3/25 14:41:41', '2019/3/26 14:31:34', '2019/3/26 14:31:36', '2019/3/26 14:31:39', '2019/3/26 14:31:49', '2019/3/26 14:32:02', '2019/3/26 14:32:18', '2019/3/26 14:32:39', '2019/3/26 14:32:47', '2019/3/26 14:32:53', '2019/3/26 14:33:21', '2019/3/26 14:36:28', '2019/3/26 14:36:30', '2019/3/26 14:36:38', '2019/3/26 14:36:53', '2019/3/26 14:37:08', '2019/3/26 14:37:26', '2019/3/26 14:37:32', '2019/3/26 14:37:35', '2019/3/26 14:37:54', '2019/3/26 14:40:02', '2019/3/26 14:40:03', '2019/3/26 14:40:04', '2019/3/26 14:40:13', '2019/3/26 14:40:14', '2019/3/26 14:40:26', '2019/3/26 14:40:38', '2019/3/26 14:40:57', '2019/3/26 14:41:05', '2019/3/26 14:41:09', '2019/3/26 14:41:41']
            },
            yAxis: {
                type: 'value'
            },
            series: [

                {
                    name: 'COM初始化',
                    type: 'line',
                    stack: 'COM初始化',
                    data: [['2019/3/25 14:31:39', 2842], ['2019/3/25 14:36:30', 1865], ['2019/3/25 14:40:04', 1740], ['2019/3/26 14:31:39', 2842], ['2019/3/26 14:36:30', 1865], ['2019/3/26 14:40:04', 1740]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'TBND',
                    type: 'line',
                    stack: 'TBND',
                    data: [['2019/3/25 14:32:02', 5828], ['2019/3/25 14:36:53', 4941], ['2019/3/25 14:40:26', 3853], ['2019/3/26 14:32:02', 5828], ['2019/3/26 14:36:53', 4941], ['2019/3/26 14:40:26', 3853]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'TFND',
                    type: 'line',
                    stack: 'TFND',
                    data: [['2019/3/25 14:31:49', 103], ['2019/3/25 14:36:38', 146], ['2019/3/25 14:40:14', 72], ['2019/3/26 14:31:49', 103], ['2019/3/26 14:36:38', 146], ['2019/3/26 14:40:14', 72]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'TTRD_ACC_BALANCE_CASH',
                    type: 'line',
                    stack: 'TTRD_ACC_BALANCE_CASH',
                    data: [['2019/3/25 14:32:18', 3], ['2019/3/25 14:37:08', 3], ['2019/3/25 14:40:38', 2], ['2019/3/26 14:32:18', 3], ['2019/3/26 14:37:08', 3], ['2019/3/26 14:40:38', 2]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'TTRD_ACC_BALANCE_SECU',
                    type: 'line',
                    stack: 'TTRD_ACC_BALANCE_SECU',
                    data: [['2019/3/25 14:32:18', 2], ['2019/3/25 14:37:08', 2], ['2019/3/25 14:40:38', 2], ['2019/3/26 14:32:18', 2], ['2019/3/26 14:37:08', 2], ['2019/3/26 14:40:38', 2]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'TTRD_OTC_COUNTERPARTY',
                    type: 'line',
                    stack: 'TTRD_OTC_COUNTERPARTY',
                    data: [['2019/3/25 14:32:18', 15077], ['2019/3/25 14:37:08', 13986], ['2019/3/25 14:40:38', 13550], ['2019/3/26 14:32:18', 15077], ['2019/3/26 14:37:08', 13986], ['2019/3/26 14:40:38', 13550]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'TTRD_OTC_POOL',
                    type: 'line',
                    stack: 'TTRD_OTC_POOL',
                    data: [['2019/3/25 14:32:47', 276], ['2019/3/25 14:37:32', 129], ['2019/3/25 14:41:05', 264], ['2019/3/26 14:32:47', 276], ['2019/3/26 14:37:32', 129], ['2019/3/26 14:41:05', 264]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'TTRD_OTC_POOL_COMPONENT',
                    type: 'line',
                    stack: 'TTRD_OTC_POOL_COMPONENT',
                    data: [['2019/3/25 14:32:47', 461], ['2019/3/25 14:37:32', 157], ['2019/3/25 14:41:05', 141], ['2019/3/26 14:32:47', 461], ['2019/3/26 14:37:32', 157], ['2019/3/26 14:41:05', 141]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'TTRD_OTC_TRADE',
                    type: 'line',
                    stack: 'TTRD_OTC_TRADE',
                    data: [['2019/3/25 14:32:39', 7467], ['2019/3/25 14:37:26', 5315], ['2019/3/25 14:40:57', 8087], ['2019/3/26 14:32:39', 7467], ['2019/3/26 14:37:26', 5315], ['2019/3/26 14:40:57', 8087]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: 'VSTK',
                    type: 'line',
                    stack: 'VSTK',
                    data: [['2019/3/25 14:31:49', 102], ['2019/3/25 14:36:38', 131], ['2019/3/25 14:40:13', 211], ['2019/3/26 14:31:49', 102], ['2019/3/26 14:36:38', 131], ['2019/3/26 14:40:13', 211]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: '加载后续持仓债券现金流',
                    type: 'line',
                    stack: '加载后续持仓债券现金流',
                    data: [['2019/3/25 14:32:53', 29062], ['2019/3/25 14:37:35', 24282], ['2019/3/25 14:41:09', 27262], ['2019/3/26 14:32:53', 29062], ['2019/3/26 14:37:35', 24282], ['2019/3/26 14:41:09', 27262]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: '交易对手、金融工具出入池',
                    type: 'line',
                    stack: '交易对手、金融工具出入池',
                    data: [['2019/3/25 14:33:21', 13767], ['2019/3/25 14:37:54', 17928], ['2019/3/25 14:41:41', 18048], ['2019/3/26 14:33:21', 13767], ['2019/3/26 14:37:54', 17928], ['2019/3/26 14:41:41', 18048]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: '启动服务',
                    type: 'line',
                    stack: '启动服务',
                    data: [['2019/3/25 14:31:34', 136694], ['2019/3/25 14:36:28', 114400], ['2019/3/25 14:40:02', 130179], ['2019/3/26 14:31:34', 136694], ['2019/3/26 14:36:28', 114400], ['2019/3/26 14:40:02', 130179]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: '数据加载服务',
                    type: 'line',
                    stack: '数据加载服务',
                    data: [['2019/3/25 14:31:36', 76724], ['2019/3/25 14:36:30', 64570], ['2019/3/25 14:40:03', 65530], ['2019/3/26 14:31:36', 76724], ['2019/3/26 14:36:30', 64570], ['2019/3/26 14:40:03', 65530]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: '自动出入池刷新',
                    type: 'line',
                    stack: '自动出入池刷新',
                    data: [['2019/3/25 14:33:21', 13627], ['2019/3/25 14:37:54', 17804], ['2019/3/25 14:41:41', 17883], ['2019/3/26 14:33:21', 13627], ['2019/3/26 14:37:54', 17804], ['2019/3/26 14:41:41', 17883]],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                }
            ]
        };

        monitorChart.setOption(option);
    } catch (err) {
        $('#canvas_monitor').html("加载出错，请刷新页面重试 ...");
    } finally {
        monitorChart.hideLoading();
    }
</script>
