<div class="row align-content-center"><span class="badge badge-danger">排行榜排序字段</span> <span class="badge badge-warning">平均耗时</span> <span class="badge badge-info">方法调用次数</span></div>
<hr>
<div class="row">

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                总耗时-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">ConfirmInterestAmount</nobr> <span class="badge badge-danger">1,613,057</span> <span class="badge badge-info">6</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetBond</nobr> <span class="badge badge-danger">606,455</span> <span class="badge badge-info">134</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/BiddingManager.soap" data-original-title="方法详情">SaveTrade</nobr> <span class="badge badge-danger">555,941</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">Clearing</nobr> <span class="badge badge-danger">553,135</span> <span class="badge badge-info">58</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/UpgradeManager.soap" data-original-title="方法详情">GetUpgradeFileStream</nobr> <span class="badge badge-danger">492,426</span> <span class="badge badge-info">16,038</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetPrintTemplates</nobr> <span class="badge badge-danger">445,692</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">SettleOneDayExt</nobr> <span class="badge badge-danger">325,612</span> <span class="badge badge-info">88</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CBGSManager.soap" data-original-title="方法详情">SHCH_DiffInstruction</nobr> <span class="badge badge-danger">296,835</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">GetTaskNodeList</nobr> <span class="badge badge-danger">258,976</span> <span class="badge badge-info">162</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetOTCTrades</nobr> <span class="badge badge-danger">238,347</span> <span class="badge badge-info">151</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCounterParty</nobr> <span class="badge badge-danger">220,619</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">RefreshFutureSetInstruction</nobr> <span class="badge badge-danger">220,398</span> <span class="badge badge-info">95</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/4b0d6a74_34f6_447c_af21_1ec66cb80e26/u_4y4zmtjzlvx4l99b2bzovi_1.rem" data-original-title="方法详情">GetProcDataTable</nobr> <span class="badge badge-danger">187,274</span> <span class="badge badge-info">1,282</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">ReCreateModuleCache</nobr> <span class="badge badge-danger">154,838</span> <span class="badge badge-info">125</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/BiddingManager.soap" data-original-title="方法详情">QueryBond</nobr> <span class="badge badge-danger">149,739</span> <span class="badge badge-info">187</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRule</nobr> <span class="badge badge-danger">137,247</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">JudgePrepare</nobr> <span class="badge badge-danger">125,087</span> <span class="badge badge-info">53</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">get_ModuleCache</nobr> <span class="badge badge-danger">103,280</span> <span class="badge badge-info">255</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetOTCBondlb</nobr> <span class="badge badge-danger">100,691</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCurrentUserDeptRight</nobr> <span class="badge badge-danger">94,906</span> <span class="badge badge-info">17,275</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                平均耗时-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/BiddingManager.soap" data-original-title="方法详情">SaveTrade</nobr> <span class="badge badge-warning">555,941.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">ConfirmInterestAmount</nobr> <span class="badge badge-warning">268,842.83</span> <span class="badge badge-info">6</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CalendarManager.soap" data-original-title="方法详情">Insert</nobr> <span class="badge badge-warning">10,249.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">Clearing</nobr> <span class="badge badge-warning">9,536.81</span> <span class="badge badge-info">58</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CBGSManager.soap" data-original-title="方法详情">SHCH_DiffInstruction</nobr> <span class="badge badge-warning">8,245.42</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">SaveDiscount</nobr> <span class="badge badge-warning">6,672.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">ReportDesigner_QueryXPReports</nobr> <span class="badge badge-warning">5,863.50</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">RefreshInstrumentPools</nobr> <span class="badge badge-warning">5,612.64</span> <span class="badge badge-info">14</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/AccountManager.soap" data-original-title="方法详情">SaveAccPackageComp</nobr> <span class="badge badge-warning">4,542.50</span> <span class="badge badge-info">4</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetBond</nobr> <span class="badge badge-warning">4,525.78</span> <span class="badge badge-info">134</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryCompDict</nobr> <span class="badge badge-warning">4,012.00</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRule</nobr> <span class="badge badge-warning">3,812.42</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">SettleOneDayExt</nobr> <span class="badge badge-warning">3,700.14</span> <span class="badge badge-info">88</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">GetNonNDVPMaiKongInfo</nobr> <span class="badge badge-warning">3,375.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetPrintTemplates</nobr> <span class="badge badge-warning">3,301.42</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">HasUnConfirmedBonds</nobr> <span class="badge badge-warning">3,035.64</span> <span class="badge badge-info">11</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryCompanyList</nobr> <span class="badge badge-warning">2,983.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">JudgePrepare</nobr> <span class="badge badge-warning">2,360.13</span> <span class="badge badge-info">53</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">RefreshFutureSetInstruction</nobr> <span class="badge badge-warning">2,319.98</span> <span class="badge badge-info">95</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryAllCompany</nobr> <span class="badge badge-warning">1,960.20</span> <span class="badge badge-info">5</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                最大耗时-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">ConfirmInterestAmount</nobr> <span class="badge badge-danger">1,273,110</span> <span class="badge badge-warning">268,842.83</span> <span class="badge badge-info">6</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/BiddingManager.soap" data-original-title="方法详情">SaveTrade</nobr> <span class="badge badge-danger">555,941</span> <span class="badge badge-warning">555,941.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">Clearing</nobr> <span class="badge badge-danger">194,828</span> <span class="badge badge-warning">9,536.81</span> <span class="badge badge-info">58</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CBGSManager.soap" data-original-title="方法详情">SHCH_DiffInstruction</nobr> <span class="badge badge-danger">42,978</span> <span class="badge badge-warning">8,245.42</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">SettleOneDayExt</nobr> <span class="badge badge-danger">36,072</span> <span class="badge badge-warning">3,700.14</span> <span class="badge badge-info">88</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/AccountingManagerNew.soap" data-original-title="方法详情">AccountingTasks</nobr> <span class="badge badge-danger">23,496</span> <span class="badge badge-warning">1,279.18</span> <span class="badge badge-info">60</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetOTCTrades</nobr> <span class="badge badge-danger">22,960</span> <span class="badge badge-warning">1,578.46</span> <span class="badge badge-info">151</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetPrintTemplates</nobr> <span class="badge badge-danger">19,265</span> <span class="badge badge-warning">3,301.42</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetExtSecuAccount</nobr> <span class="badge badge-danger">18,858</span> <span class="badge badge-warning">378.86</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LimitManager.soap" data-original-title="方法详情">CheckLimitRuleResult</nobr> <span class="badge badge-danger">13,078</span> <span class="badge badge-warning">180.82</span> <span class="badge badge-info">499</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">RefreshInstrumentPools</nobr> <span class="badge badge-danger">10,332</span> <span class="badge badge-warning">5,612.64</span> <span class="badge badge-info">14</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CalendarManager.soap" data-original-title="方法详情">Insert</nobr> <span class="badge badge-danger">10,249</span> <span class="badge badge-warning">10,249.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">QuerySqlFromDB</nobr> <span class="badge badge-danger">10,141</span> <span class="badge badge-warning">25.80</span> <span class="badge badge-info">2,417</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">GetTaskNodeList</nobr> <span class="badge badge-danger">8,265</span> <span class="badge badge-warning">1,598.62</span> <span class="badge badge-info">162</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetBond</nobr> <span class="badge badge-danger">7,937</span> <span class="badge badge-warning">4,525.78</span> <span class="badge badge-info">134</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCounterParty</nobr> <span class="badge badge-danger">6,970</span> <span class="badge badge-warning">1,634.21</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRule</nobr> <span class="badge badge-danger">6,750</span> <span class="badge badge-warning">3,812.42</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">RefreshFutureSetInstruction</nobr> <span class="badge badge-danger">6,718</span> <span class="badge badge-warning">2,319.98</span> <span class="badge badge-info">95</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">SaveDiscount</nobr> <span class="badge badge-danger">6,672</span> <span class="badge badge-warning">6,672.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">ReportDesigner_QueryXPReports</nobr> <span class="badge badge-danger">6,326</span> <span class="badge badge-warning">5,863.50</span> <span class="badge badge-info">2</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                总请求流长度-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/ExchangeManager.soap" data-original-title="方法详情">GetExtBalanceFromCacheByClient</nobr> <span class="badge badge-danger">7,199,317</span> <span class="badge badge-warning">7.98</span> <span class="badge badge-info">4,747</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/UpgradeManager.soap" data-original-title="方法详情">GetUpgradeFileStream</nobr> <span class="badge badge-danger">5,041,805</span> <span class="badge badge-warning">30.70</span> <span class="badge badge-info">16,038</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">UpdateRole</nobr> <span class="badge badge-danger">2,709,645</span> <span class="badge badge-warning">47.40</span> <span class="badge badge-info">1,015</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetOTCTradeRelatedAnother</nobr> <span class="badge badge-danger">2,693,817</span> <span class="badge badge-warning">27.01</span> <span class="badge badge-info">1,761</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">CreateApproveMemo</nobr> <span class="badge badge-danger">2,666,439</span> <span class="badge badge-warning">48.88</span> <span class="badge badge-info">264</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">UpdateTaskNodeMemo</nobr> <span class="badge badge-danger">2,664,088</span> <span class="badge badge-warning">72.54</span> <span class="badge badge-info">264</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCurrentUserDeptRight</nobr> <span class="badge badge-danger">2,331,450</span> <span class="badge badge-warning">5.49</span> <span class="badge badge-info">17,275</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetIntCashAccount</nobr> <span class="badge badge-danger">1,676,465</span> <span class="badge badge-warning">14.70</span> <span class="badge badge-info">6,285</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">GetNextClearingDate</nobr> <span class="badge badge-danger">1,654,147</span> <span class="badge badge-warning">9.91</span> <span class="badge badge-info">885</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">GetLatestClearingDate</nobr> <span class="badge badge-danger">1,406,427</span> <span class="badge badge-warning">29.84</span> <span class="badge badge-info">818</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">QuerySqlFromDB</nobr> <span class="badge badge-danger">1,229,715</span> <span class="badge badge-warning">25.80</span> <span class="badge badge-info">2,417</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/URManager.soap" data-original-title="方法详情">UpdateSysParam</nobr> <span class="badge badge-danger">1,063,814</span> <span class="badge badge-warning">158.69</span> <span class="badge badge-info">29</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetPositionSecus</nobr> <span class="badge badge-danger">1,054,857</span> <span class="badge badge-warning">14.89</span> <span class="badge badge-info">2,093</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LimitManager.soap" data-original-title="方法详情">CheckLimitRuleResult</nobr> <span class="badge badge-danger">976,292</span> <span class="badge badge-warning">180.82</span> <span class="badge badge-info">499</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">LoadTask</nobr> <span class="badge badge-danger">960,873</span> <span class="badge badge-warning">7.74</span> <span class="badge badge-info">3,416</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/AccountManager.soap" data-original-title="方法详情">SaveAccPackageComp</nobr> <span class="badge badge-danger">911,268</span> <span class="badge badge-warning">4,542.50</span> <span class="badge badge-info">4</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/AccountingManager.soap" data-original-title="方法详情">AccountingTrades</nobr> <span class="badge badge-danger">871,064</span> <span class="badge badge-warning">94.03</span> <span class="badge badge-info">255</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">QueryPendingDeal</nobr> <span class="badge badge-danger">867,964</span> <span class="badge badge-warning">51.25</span> <span class="badge badge-info">150</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">QueryPendingDealGroup</nobr> <span class="badge badge-danger">846,662</span> <span class="badge badge-warning">38.54</span> <span class="badge badge-info">150</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">OTCTradeSave</nobr> <span class="badge badge-danger">759,101</span> <span class="badge badge-warning">221.58</span> <span class="badge badge-info">282</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                平均请求流长度-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/AccountManager.soap" data-original-title="方法详情">SaveAccPackageComp</nobr> <span class="badge badge-danger">227,817.00</span> <span class="badge badge-warning">4,542.50</span> <span class="badge badge-info">4</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/URManager.soap" data-original-title="方法详情">UpdateSysParam</nobr> <span class="badge badge-danger">36,683.24</span> <span class="badge badge-warning">158.69</span> <span class="badge badge-info">29</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">SaveDevLayoutStyle</nobr> <span class="badge badge-danger">14,852.00</span> <span class="badge badge-warning">367.00</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">Template_Update</nobr> <span class="badge badge-danger">12,852.75</span> <span class="badge badge-warning">108.50</span> <span class="badge badge-info">4</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CBGSManager.soap" data-original-title="方法详情">UpdateCBGSParams</nobr> <span class="badge badge-danger">11,433.83</span> <span class="badge badge-warning">88.00</span> <span class="badge badge-info">18</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/URManager.soap" data-original-title="方法详情">AddUpdateRole</nobr> <span class="badge badge-danger">10,232.80</span> <span class="badge badge-warning">669.20</span> <span class="badge badge-info">5</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">CreateApproveMemo</nobr> <span class="badge badge-danger">10,100.15</span> <span class="badge badge-warning">48.88</span> <span class="badge badge-info">264</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">UpdateTaskNodeMemo</nobr> <span class="badge badge-danger">10,091.24</span> <span class="badge badge-warning">72.54</span> <span class="badge badge-info">264</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">ApproveTaskBantch</nobr> <span class="badge badge-danger">8,931.18</span> <span class="badge badge-warning">591.77</span> <span class="badge badge-info">44</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">CheckIsNodeOrRoleCanApproveAtOnce</nobr> <span class="badge badge-danger">6,509.00</span> <span class="badge badge-warning">87.00</span> <span class="badge badge-info">5</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">SubmitTask</nobr> <span class="badge badge-danger">6,374.06</span> <span class="badge badge-warning">745.74</span> <span class="badge badge-info">50</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">QueryPendingDeal</nobr> <span class="badge badge-danger">5,786.43</span> <span class="badge badge-warning">51.25</span> <span class="badge badge-info">150</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LimitManager.soap" data-original-title="方法详情">SaveLimitRuleTemplet</nobr> <span class="badge badge-danger">5,721.93</span> <span class="badge badge-warning">132.29</span> <span class="badge badge-info">14</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">QueryPendingDealGroup</nobr> <span class="badge badge-danger">5,644.41</span> <span class="badge badge-warning">38.54</span> <span class="badge badge-info">150</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LimitManager.soap" data-original-title="方法详情">SaveLimitRule</nobr> <span class="badge badge-danger">5,494.86</span> <span class="badge badge-warning">109.71</span> <span class="badge badge-info">7</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/BiddingManager.soap" data-original-title="方法详情">UpdateCompletely</nobr> <span class="badge badge-danger">5,413.17</span> <span class="badge badge-warning">1,739.33</span> <span class="badge badge-info">6</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CBGSManager.soap" data-original-title="方法详情">TransToPrepareCancel</nobr> <span class="badge badge-danger">4,888.00</span> <span class="badge badge-warning">296.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">UpdateInstructionManualInst</nobr> <span class="badge badge-danger">4,884.00</span> <span class="badge badge-warning">46.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CBGSManager.soap" data-original-title="方法详情">RefreshOneDetail</nobr> <span class="badge badge-danger">4,882.55</span> <span class="badge badge-warning">21.12</span> <span class="badge badge-info">49</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/AccountingManagerNew.soap" data-original-title="方法详情">SaveAccountingConfig</nobr> <span class="badge badge-danger">4,710.00</span> <span class="badge badge-warning">117.00</span> <span class="badge badge-info">1</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                最大请求流长度-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/AccountManager.soap" data-original-title="方法详情">SaveAccPackageComp</nobr> <span class="badge badge-danger">234,374</span> <span class="badge badge-warning">4,542.50</span> <span class="badge badge-info">4</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/URManager.soap" data-original-title="方法详情">UpdateSysParam</nobr> <span class="badge badge-danger">39,373</span> <span class="badge badge-warning">158.69</span> <span class="badge badge-info">29</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">ApproveTaskBantch</nobr> <span class="badge badge-danger">15,275</span> <span class="badge badge-warning">591.77</span> <span class="badge badge-info">44</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">SaveDevLayoutStyle</nobr> <span class="badge badge-danger">14,908</span> <span class="badge badge-warning">367.00</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">CreateApproveMemo</nobr> <span class="badge badge-danger">14,243</span> <span class="badge badge-warning">48.88</span> <span class="badge badge-info">264</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">UpdateTaskNodeMemo</nobr> <span class="badge badge-danger">14,176</span> <span class="badge badge-warning">72.54</span> <span class="badge badge-info">264</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CBGSManager.soap" data-original-title="方法详情">UpdateCBGSParams</nobr> <span class="badge badge-danger">13,715</span> <span class="badge badge-warning">88.00</span> <span class="badge badge-info">18</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">Template_Update</nobr> <span class="badge badge-danger">13,119</span> <span class="badge badge-warning">108.50</span> <span class="badge badge-info">4</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetOTCTrades</nobr> <span class="badge badge-danger">12,379</span> <span class="badge badge-warning">1,578.46</span> <span class="badge badge-info">151</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/URManager.soap" data-original-title="方法详情">AddUpdateRole</nobr> <span class="badge badge-danger">11,863</span> <span class="badge badge-warning">669.20</span> <span class="badge badge-info">5</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">SubmitTask</nobr> <span class="badge badge-danger">11,836</span> <span class="badge badge-warning">745.74</span> <span class="badge badge-info">50</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">UpdateFlow</nobr> <span class="badge badge-danger">11,516</span> <span class="badge badge-warning">98.10</span> <span class="badge badge-info">29</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">OTCTradeSave</nobr> <span class="badge badge-danger">10,158</span> <span class="badge badge-warning">221.58</span> <span class="badge badge-info">282</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LimitManager.soap" data-original-title="方法详情">SaveLimitRuleTemplet</nobr> <span class="badge badge-danger">9,888</span> <span class="badge badge-warning">132.29</span> <span class="badge badge-info">14</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">CheckIsNodeOrRoleCanApproveAtOnce</nobr> <span class="badge badge-danger">8,776</span> <span class="badge badge-warning">87.00</span> <span class="badge badge-info">5</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LimitManager.soap" data-original-title="方法详情">SaveLimitRule</nobr> <span class="badge badge-danger">7,577</span> <span class="badge badge-warning">109.71</span> <span class="badge badge-info">7</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">QueryPack</nobr> <span class="badge badge-danger">6,510</span> <span class="badge badge-warning">44.02</span> <span class="badge badge-info">399</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">IsNeedDuplicateToCashLB</nobr> <span class="badge badge-danger">6,338</span> <span class="badge badge-warning">19.24</span> <span class="badge badge-info">108</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">QueryNonTradeBySysTrade</nobr> <span class="badge badge-danger">6,334</span> <span class="badge badge-warning">59.47</span> <span class="badge badge-info">108</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">GetApproveUsersByRole</nobr> <span class="badge badge-danger">6,020</span> <span class="badge badge-warning">20.02</span> <span class="badge badge-info">48</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                总响应流长度-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/UpgradeManager.soap" data-original-title="方法详情">GetUpgradeFileStream</nobr> <span class="badge badge-danger">2,108,936,666</span> <span class="badge badge-warning">30.70</span> <span class="badge badge-info">16,038</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetBond</nobr> <span class="badge badge-danger">858,416,813</span> <span class="badge badge-warning">4,525.78</span> <span class="badge badge-info">134</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCounterParty</nobr> <span class="badge badge-danger">267,544,571</span> <span class="badge badge-warning">1,634.21</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRule</nobr> <span class="badge badge-danger">105,124,316</span> <span class="badge badge-warning">3,812.42</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">get_ModuleCache</nobr> <span class="badge badge-danger">62,411,535</span> <span class="badge badge-warning">405.02</span> <span class="badge badge-info">255</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRuleTemplet</nobr> <span class="badge badge-danger">52,636,416</span> <span class="badge badge-warning">1,709.25</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetStdBondDiscountMap</nobr> <span class="badge badge-danger">51,237,682</span> <span class="badge badge-warning">333.78</span> <span class="badge badge-info">136</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetEquityStructureORTemp</nobr> <span class="badge badge-danger">50,878,646</span> <span class="badge badge-warning">122.40</span> <span class="badge badge-info">272</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">GetBondLstBy</nobr> <span class="badge badge-danger">37,719,552</span> <span class="badge badge-warning">775.63</span> <span class="badge badge-info">60</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetOTCBondlb</nobr> <span class="badge badge-danger">32,258,045</span> <span class="badge badge-warning">745.86</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetTradeGroup</nobr> <span class="badge badge-danger">31,693,207</span> <span class="badge badge-warning">244.63</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetIntCashAccount</nobr> <span class="badge badge-danger">27,402,439</span> <span class="badge badge-warning">14.70</span> <span class="badge badge-info">6,285</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetPrintTemplates</nobr> <span class="badge badge-danger">26,980,155</span> <span class="badge badge-warning">3,301.42</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetExtSecuAccount</nobr> <span class="badge badge-danger">26,374,322</span> <span class="badge badge-warning">378.86</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LogonManager.soap" data-original-title="方法详情">GetSysParamTable</nobr> <span class="badge badge-danger">24,034,976</span> <span class="badge badge-warning">15.82</span> <span class="badge badge-info">745</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">GetLevelItem</nobr> <span class="badge badge-danger">21,777,095</span> <span class="badge badge-warning">228.65</span> <span class="badge badge-info">123</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">GetTaskNodeList</nobr> <span class="badge badge-danger">21,772,276</span> <span class="badge badge-warning">1,598.62</span> <span class="badge badge-info">162</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCalendarDates</nobr> <span class="badge badge-danger">19,887,744</span> <span class="badge badge-warning">482.63</span> <span class="badge badge-info">134</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetIntSecuAccount</nobr> <span class="badge badge-danger">16,769,927</span> <span class="badge badge-warning">30.46</span> <span class="badge badge-info">1,292</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetServerBizDict_Str_Str</nobr> <span class="badge badge-danger">16,371,980</span> <span class="badge badge-warning">20.86</span> <span class="badge badge-info">542</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                平均响应流长度-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetBond</nobr> <span class="badge badge-danger">6,406,095.62</span> <span class="badge badge-warning">4,525.78</span> <span class="badge badge-info">134</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRule</nobr> <span class="badge badge-danger">2,920,119.89</span> <span class="badge badge-warning">3,812.42</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCounterParty</nobr> <span class="badge badge-danger">1,981,811.64</span> <span class="badge badge-warning">1,634.21</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">GetCounterPartyLstBy</nobr> <span class="badge badge-danger">1,974,272.00</span> <span class="badge badge-warning">1,958.50</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryCompDict</nobr> <span class="badge badge-danger">1,572,094.00</span> <span class="badge badge-warning">4,012.00</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRuleTemplet</nobr> <span class="badge badge-danger">1,462,122.67</span> <span class="badge badge-warning">1,709.25</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryCompanyList</nobr> <span class="badge badge-danger">1,431,810.00</span> <span class="badge badge-warning">2,983.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetXPPartyBankAcc</nobr> <span class="badge badge-danger">1,323,756.00</span> <span class="badge badge-warning">1,187.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LimitManager.soap" data-original-title="方法详情">GetLRTs</nobr> <span class="badge badge-danger">1,291,403.00</span> <span class="badge badge-warning">1,249.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">ReportDesigner_QueryXPReports</nobr> <span class="badge badge-danger">958,170.00</span> <span class="badge badge-warning">5,863.50</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryAllCompany</nobr> <span class="badge badge-danger">762,750.20</span> <span class="badge badge-warning">1,960.20</span> <span class="badge badge-info">5</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">GetBondLstBy</nobr> <span class="badge badge-danger">628,659.20</span> <span class="badge badge-warning">775.63</span> <span class="badge badge-info">60</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetStdBondDiscountMap</nobr> <span class="badge badge-danger">376,747.66</span> <span class="badge badge-warning">333.78</span> <span class="badge badge-info">136</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryBndB_ISSUERCODE</nobr> <span class="badge badge-danger">327,093.00</span> <span class="badge badge-warning">302.54</span> <span class="badge badge-info">26</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">ReportDesigner_QueryXPReportDataobjs</nobr> <span class="badge badge-danger">307,564.00</span> <span class="badge badge-warning">1,433.40</span> <span class="badge badge-info">5</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">GetCompanyIdNameDic</nobr> <span class="badge badge-danger">293,331.00</span> <span class="badge badge-warning">292.67</span> <span class="badge badge-info">9</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryB_ISSUERDic</nobr> <span class="badge badge-danger">262,733.00</span> <span class="badge badge-warning">544.53</span> <span class="badge badge-info">17</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">get_ModuleCache</nobr> <span class="badge badge-danger">244,751.12</span> <span class="badge badge-warning">405.02</span> <span class="badge badge-info">255</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetOTCBondlb</nobr> <span class="badge badge-danger">238,948.48</span> <span class="badge badge-warning">745.86</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetTradeGroup</nobr> <span class="badge badge-danger">234,764.50</span> <span class="badge badge-warning">244.63</span> <span class="badge badge-info">135</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                最大响应流长度-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetBond</nobr> <span class="badge badge-danger">6,714,952</span> <span class="badge badge-warning">4,525.78</span> <span class="badge badge-info">134</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">GetBondLstBy</nobr> <span class="badge badge-danger">6,459,422</span> <span class="badge badge-warning">775.63</span> <span class="badge badge-info">60</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRule</nobr> <span class="badge badge-danger">4,778,406</span> <span class="badge badge-warning">3,812.42</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/UpgradeManager.soap" data-original-title="方法详情">GetUpgradeFileStream</nobr> <span class="badge badge-danger">3,435,287</span> <span class="badge badge-warning">30.70</span> <span class="badge badge-info">16,038</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCounterParty</nobr> <span class="badge badge-danger">1,981,824</span> <span class="badge badge-warning">1,634.21</span> <span class="badge badge-info">135</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">GetCounterPartyLstBy</nobr> <span class="badge badge-danger">1,974,353</span> <span class="badge badge-warning">1,958.50</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryCompDict</nobr> <span class="badge badge-danger">1,572,094</span> <span class="badge badge-warning">4,012.00</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLimitRuleTemplet</nobr> <span class="badge badge-danger">1,463,984</span> <span class="badge badge-warning">1,709.25</span> <span class="badge badge-info">36</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryCompanyList</nobr> <span class="badge badge-danger">1,431,810</span> <span class="badge badge-warning">2,983.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryAllCompany</nobr> <span class="badge badge-danger">1,365,907</span> <span class="badge badge-warning">1,960.20</span> <span class="badge badge-info">5</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetXPPartyBankAcc</nobr> <span class="badge badge-danger">1,323,756</span> <span class="badge badge-warning">1,187.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/LimitManager.soap" data-original-title="方法详情">GetLRTs</nobr> <span class="badge badge-danger">1,291,403</span> <span class="badge badge-warning">1,249.00</span> <span class="badge badge-info">1</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">ReportDesigner_QueryXPReports</nobr> <span class="badge badge-danger">958,170</span> <span class="badge badge-warning">5,863.50</span> <span class="badge badge-info">2</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetStdBondDiscountMap</nobr> <span class="badge badge-danger">376,797</span> <span class="badge badge-warning">333.78</span> <span class="badge badge-info">136</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetServerBizDict_Str_Str</nobr> <span class="badge badge-danger">327,093</span> <span class="badge badge-warning">20.86</span> <span class="badge badge-info">542</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">QueryBndB_ISSUERCODE</nobr> <span class="badge badge-danger">327,093</span> <span class="badge badge-warning">302.54</span> <span class="badge badge-info">26</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ClearingManager.soap" data-original-title="方法详情">QueryDetailByDate</nobr> <span class="badge badge-danger">315,307</span> <span class="badge badge-warning">161.63</span> <span class="badge badge-info">41</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">ReportDesigner_QueryXPReportDataobjs</nobr> <span class="badge badge-danger">307,564</span> <span class="badge badge-warning">1,433.40</span> <span class="badge badge-info">5</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InstrumentManager.soap" data-original-title="方法详情">GetCompanyIdNameDic</nobr> <span class="badge badge-danger">293,331</span> <span class="badge badge-warning">292.67</span> <span class="badge badge-info">9</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">GetTaskNodeList</nobr> <span class="badge badge-danger">293,150</span> <span class="badge badge-warning">1,598.62</span> <span class="badge badge-info">162</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" style="margin-bottom:10px">
        <div class="card text-left font-weight-bold">
            <div class="card-header">
                调用次数-排行榜
            </div>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetCurrentUserDeptRight</nobr> <span class="badge badge-info">17,275</span> <span class="badge badge-warning">5.49</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/UpgradeManager.soap" data-original-title="方法详情">GetUpgradeFileStream</nobr> <span class="badge badge-info">16,038</span> <span class="badge badge-warning">30.70</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetIntCashAccount</nobr> <span class="badge badge-info">6,285</span> <span class="badge badge-warning">14.70</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ExchangeManager.soap" data-original-title="方法详情">GetExtBalanceFromCacheByClient</nobr> <span class="badge badge-info">4,747</span> <span class="badge badge-warning">7.98</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">LoadTask</nobr> <span class="badge badge-info">3,416</span> <span class="badge badge-warning">7.74</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ReportManager.soap" data-original-title="方法详情">QuerySqlFromDB</nobr> <span class="badge badge-info">2,417</span> <span class="badge badge-warning">25.80</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetOTCTradeBySysOrdId</nobr> <span class="badge badge-info">2,374</span> <span class="badge badge-warning">5.69</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetPositionSecus</nobr> <span class="badge badge-info">2,093</span> <span class="badge badge-warning">14.89</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/ApproveFlowManager.soap" data-original-title="方法详情">LoadTraceLog</nobr> <span class="badge badge-info">2,023</span> <span class="badge badge-warning">16.81</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetOTCTradeRelatedAnother</nobr> <span class="badge badge-info">1,761</span> <span class="badge badge-warning">27.01</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetOTCTradeBySysOrdId</nobr> <span class="badge badge-info">1,743</span> <span class="badge badge-warning">9.02</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/URManager.soap" data-original-title="方法详情">GetUser</nobr> <span class="badge badge-info">1,688</span> <span class="badge badge-warning">7.62</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">GetPositionCashs</nobr> <span class="badge badge-info">1,577</span> <span class="badge badge-warning">11.96</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">QueryLastBondUsedRemark</nobr> <span class="badge badge-info">1,575</span> <span class="badge badge-warning">3.00</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetLinkManInfoList</nobr> <span class="badge badge-info">1,573</span> <span class="badge badge-warning">5.69</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/OTCManager.soap" data-original-title="方法详情">QueryLastBondLastLockState</nobr> <span class="badge badge-info">1,525</span> <span class="badge badge-warning">3.28</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/InitDataManager.soap" data-original-title="方法详情">GetIntSecuAccount</nobr> <span class="badge badge-info">1,292</span> <span class="badge badge-warning">30.46</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/4b0d6a74_34f6_447c_af21_1ec66cb80e26/u_4y4zmtjzlvx4l99b2bzovi_1.rem" data-original-title="方法详情">GetProcDataTable</nobr> <span class="badge badge-info">1,282</span> <span class="badge badge-warning">146.08</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CalendarManager.soap" data-original-title="方法详情">IsValidDate</nobr> <span class="badge badge-info">1,226</span> <span class="badge badge-warning">3.57</span></li>
                        <li><nobr data-toggle="popover" title="" data-content="/CalendarManager.soap" data-original-title="方法详情">GetPreValidDate</nobr> <span class="badge badge-info">1,193</span> <span class="badge badge-warning">5.02</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>