<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    总耗时-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>GetFixFDROTCTrade <span class="badge badge-danger">62340</span></li>
                            <li>GetCounterParty <span class="badge badge-danger">3345</span></li>
                            <li>GetOTCTrade <span class="badge badge-danger">2288</span></li>
                            <li>GetOTCOutright <span class="badge badge-danger">1440</span></li>
                            <li>GetOTCBondlb <span class="badge badge-danger">1229</span></li>
                            <li>GetTaskParam <span class="badge badge-danger">1199</span></li>
                            <li>GetIntCashPosition <span class="badge badge-danger">939</span></li>
                            <li>GetOTCFixTermDeposit <span class="badge badge-danger">792</span></li>
                            <li>GetPrintTemplates <span class="badge badge-danger">754</span></li>
                            <li>GetOTCFRA <span class="badge badge-danger">742</span></li>
                            <li>GetOTCBondForward <span class="badge badge-danger">711</span></li>
                            <li>GetOTCIblb <span class="badge badge-danger">588</span></li>
                            <li>GetCounterPartyPreference <span class="badge badge-danger">517</span></li>
                            <li>GetIrCurve <span class="badge badge-danger">503</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">501</span></li>
                            <li>GetTaskDefaultParam <span class="badge badge-danger">431</span></li>
                            <li>GetBond <span class="badge badge-danger">421</span></li>
                            <li>GetOTCOptionCapFloorLst <span class="badge badge-danger">348</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">283</span></li>
                            <li>GetCalendarDates <span class="badge badge-danger">217</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    平均耗时-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>GetFixFDROTCTrade <span class="badge badge-danger">62340</span></li>
                            <li>GetCounterParty <span class="badge badge-danger">3345</span></li>
                            <li>GetOTCTrade <span class="badge badge-danger">2288</span></li>
                            <li>GetOTCOutright <span class="badge badge-danger">1440</span></li>
                            <li>GetOTCBondlb <span class="badge badge-danger">1229</span></li>
                            <li>GetTaskParam <span class="badge badge-danger">1199</span></li>
                            <li>GetIntCashPosition <span class="badge badge-danger">939</span></li>
                            <li>GetOTCFixTermDeposit <span class="badge badge-danger">792</span></li>
                            <li>GetPrintTemplates <span class="badge badge-danger">754</span></li>
                            <li>GetOTCFRA <span class="badge badge-danger">742</span></li>
                            <li>GetOTCBondForward <span class="badge badge-danger">711</span></li>
                            <li>GetOTCIblb <span class="badge badge-danger">588</span></li>
                            <li>GetCounterPartyPreference <span class="badge badge-danger">517</span></li>
                            <li>GetIrCurve <span class="badge badge-danger">503</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">501</span></li>
                            <li>GetTaskDefaultParam <span class="badge badge-danger">431</span></li>
                            <li>GetBond <span class="badge badge-danger">421</span></li>
                            <li>GetOTCOptionCapFloorLst <span class="badge badge-danger">348</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">283</span></li>
                            <li>GetCalendarDates <span class="badge badge-danger">217</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    最大耗时-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>GetFixFDROTCTrade <span class="badge badge-danger">62340</span></li>
                            <li>GetCounterParty <span class="badge badge-danger">3345</span></li>
                            <li>GetOTCTrade <span class="badge badge-danger">2288</span></li>
                            <li>GetOTCOutright <span class="badge badge-danger">1440</span></li>
                            <li>GetOTCBondlb <span class="badge badge-danger">1229</span></li>
                            <li>GetTaskParam <span class="badge badge-danger">1199</span></li>
                            <li>GetIntCashPosition <span class="badge badge-danger">939</span></li>
                            <li>GetOTCFixTermDeposit <span class="badge badge-danger">792</span></li>
                            <li>GetPrintTemplates <span class="badge badge-danger">754</span></li>
                            <li>GetOTCFRA <span class="badge badge-danger">742</span></li>
                            <li>GetOTCBondForward <span class="badge badge-danger">711</span></li>
                            <li>GetOTCIblb <span class="badge badge-danger">588</span></li>
                            <li>GetCounterPartyPreference <span class="badge badge-danger">517</span></li>
                            <li>GetIrCurve <span class="badge badge-danger">503</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">501</span></li>
                            <li>GetTaskDefaultParam <span class="badge badge-danger">431</span></li>
                            <li>GetBond <span class="badge badge-danger">421</span></li>
                            <li>GetOTCOptionCapFloorLst <span class="badge badge-danger">348</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">283</span></li>
                            <li>GetCalendarDates <span class="badge badge-danger">217</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    总请求流长度-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>Query <span class="badge badge-danger">1614</span></li>
                            <li>GetServerBizDict_Str_Str <span class="badge badge-danger">584</span></li>
                            <li>Subscribe <span class="badge badge-danger">426</span></li>
                            <li>GetSysParamTable <span class="badge badge-danger">375</span></li>
                            <li>SendClientInfo <span class="badge badge-danger">322</span></li>
                            <li>GetCounterPartyByPartyId <span class="badge badge-danger">278</span></li>
                            <li>GetEquityStructureORTemp <span class="badge badge-danger">275</span></li>
                            <li>UnSubscribe <span class="badge badge-danger">259</span></li>
                            <li>GetInvestInsOrder <span class="badge badge-danger">250</span></li>
                            <li>GetCMDTOption <span class="badge badge-danger">248</span></li>
                            <li>GetShgFixOrder <span class="badge badge-danger">248</span></li>
                            <li>GetSettleConfig <span class="badge badge-danger">248</span></li>
                            <li>GetMyMoudle <span class="badge badge-danger">226</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">159</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">159</span></li>
                            <li>GetServerBizDict_Str_List <span class="badge badge-danger">153</span></li>
                            <li>GetServerBizDict_Str_Int <span class="badge badge-danger">148</span></li>
                            <li>GetServerBizDict_Str_Double <span class="badge badge-danger">147</span></li>
                            <li>GetServerBizDict_Tree <span class="badge badge-danger">141</span></li>
                            <li>RetrieveUpgradeFiles <span class="badge badge-danger">137</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    平均请求流长度-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>Subscribe <span class="badge badge-danger">426</span></li>
                            <li>Query <span class="badge badge-danger">322.8</span></li>
                            <li>SendClientInfo <span class="badge badge-danger">322</span></li>
                            <li>UnSubscribe <span class="badge badge-danger">259</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">159</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">159</span></li>
                            <li>GetServerBizDict_Str_List <span class="badge badge-danger">153</span></li>
                            <li>GetServerBizDict_Str_Int <span class="badge badge-danger">148</span></li>
                            <li>GetServerBizDict_Str_Double <span class="badge badge-danger">147</span></li>
                            <li>GetServerBizDict_Str_Str <span class="badge badge-danger">146</span></li>
                            <li>GetServerBizDict_Tree <span class="badge badge-danger">141</span></li>
                            <li>GetCounterPartyByPartyId <span class="badge badge-danger">139</span></li>
                            <li>GetEquityStructureORTemp <span class="badge badge-danger">137.5</span></li>
                            <li>RetrieveUpgradeFiles <span class="badge badge-danger">137</span></li>
                            <li>GetQueryBondConnectCPHostCodeList <span class="badge badge-danger">137</span></li>
                            <li>GetCBGSSetInstDetailConvertMap <span class="badge badge-danger">136</span></li>
                            <li>GetIssuerBlackWhiteTypeDict <span class="badge badge-danger">135</span></li>
                            <li>GetCounterBlackWhiteTypeDict <span class="badge badge-danger">135</span></li>
                            <li>GetLoginUserMappingFixTrader <span class="badge badge-danger">135</span></li>
                            <li>GetBondSeriesSetting <span class="badge badge-danger">134</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    最大请求流长度-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>Subscribe <span class="badge badge-danger">426</span></li>
                            <li>Query <span class="badge badge-danger">357</span></li>
                            <li>SendClientInfo <span class="badge badge-danger">322</span></li>
                            <li>UnSubscribe <span class="badge badge-danger">259</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">159</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">159</span></li>
                            <li>GetServerBizDict_Str_List <span class="badge badge-danger">153</span></li>
                            <li>GetServerBizDict_Str_Str <span class="badge badge-danger">149</span></li>
                            <li>GetServerBizDict_Str_Int <span class="badge badge-danger">148</span></li>
                            <li>GetServerBizDict_Str_Double <span class="badge badge-danger">147</span></li>
                            <li>GetCounterPartyByPartyId <span class="badge badge-danger">142</span></li>
                            <li>GetServerBizDict_Tree <span class="badge badge-danger">141</span></li>
                            <li>GetEquityStructureORTemp <span class="badge badge-danger">138</span></li>
                            <li>RetrieveUpgradeFiles <span class="badge badge-danger">137</span></li>
                            <li>GetQueryBondConnectCPHostCodeList <span class="badge badge-danger">137</span></li>
                            <li>GetCBGSSetInstDetailConvertMap <span class="badge badge-danger">136</span></li>
                            <li>GetIssuerBlackWhiteTypeDict <span class="badge badge-danger">135</span></li>
                            <li>GetCounterBlackWhiteTypeDict <span class="badge badge-danger">135</span></li>
                            <li>GetLoginUserMappingFixTrader <span class="badge badge-danger">135</span></li>
                            <li>GetBondSeriesSetting <span class="badge badge-danger">134</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    总响应流长度-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>GetCounterParty <span class="badge badge-danger">3267149</span></li>
                            <li>GetBond <span class="badge badge-danger">1038882</span></li>
                            <li>GetInstPoolComp <span class="badge badge-danger">232336</span></li>
                            <li>GetExtSecuAccount <span class="badge badge-danger">217321</span></li>
                            <li>GetStdBondDiscountMap <span class="badge badge-danger">164515</span></li>
                            <li>GetXPOTCCashLBObject <span class="badge badge-danger">162513</span></li>
                            <li>GetTradeGroup <span class="badge badge-danger">149846</span></li>
                            <li>GetCalendarDates <span class="badge badge-danger">140856</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">139094</span></li>
                            <li>GetIndex <span class="badge badge-danger">138837</span></li>
                            <li>GetOTCBondlb <span class="badge badge-danger">121801</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">114953</span></li>
                            <li>GetMyMoudle <span class="badge badge-danger">113682</span></li>
                            <li>GetServerBizDict_Str_Str <span class="badge badge-danger">108105</span></li>
                            <li>GetSysParamTable <span class="badge badge-danger">105255</span></li>
                            <li>GetIntCashPosition <span class="badge badge-danger">98222</span></li>
                            <li>GetExtCashAccount <span class="badge badge-danger">95613</span></li>
                            <li>GetAccSecuMapping <span class="badge badge-danger">81359</span></li>
                            <li>GetPrintTemplates <span class="badge badge-danger">77859</span></li>
                            <li>GetServerBizDict_Tree <span class="badge badge-danger">76266</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    平均响应流长度-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>GetCounterParty <span class="badge badge-danger">3267149</span></li>
                            <li>GetBond <span class="badge badge-danger">1038882</span></li>
                            <li>GetInstPoolComp <span class="badge badge-danger">232336</span></li>
                            <li>GetExtSecuAccount <span class="badge badge-danger">217321</span></li>
                            <li>GetStdBondDiscountMap <span class="badge badge-danger">164515</span></li>
                            <li>GetXPOTCCashLBObject <span class="badge badge-danger">162513</span></li>
                            <li>GetTradeGroup <span class="badge badge-danger">149846</span></li>
                            <li>GetCalendarDates <span class="badge badge-danger">140856</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">139094</span></li>
                            <li>GetIndex <span class="badge badge-danger">138837</span></li>
                            <li>GetOTCBondlb <span class="badge badge-danger">121801</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">114953</span></li>
                            <li>GetIntCashPosition <span class="badge badge-danger">98222</span></li>
                            <li>GetExtCashAccount <span class="badge badge-danger">95613</span></li>
                            <li>GetAccSecuMapping <span class="badge badge-danger">81359</span></li>
                            <li>GetPrintTemplates <span class="badge badge-danger">77859</span></li>
                            <li>GetServerBizDict_Tree <span class="badge badge-danger">76266</span></li>
                            <li>GetTaskParam <span class="badge badge-danger">67324</span></li>
                            <li>GetOTCBondForward <span class="badge badge-danger">65426</span></li>
                            <li>GetServerBizDict_Str_List <span class="badge badge-danger">60277</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    最大响应流长度-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>GetCounterParty <span class="badge badge-danger">3267149</span></li>
                            <li>GetBond <span class="badge badge-danger">1038882</span></li>
                            <li>GetInstPoolComp <span class="badge badge-danger">232336</span></li>
                            <li>GetExtSecuAccount <span class="badge badge-danger">217321</span></li>
                            <li>GetStdBondDiscountMap <span class="badge badge-danger">164515</span></li>
                            <li>GetXPOTCCashLBObject <span class="badge badge-danger">162513</span></li>
                            <li>GetTradeGroup <span class="badge badge-danger">149846</span></li>
                            <li>GetCalendarDates <span class="badge badge-danger">140856</span></li>
                            <li>GetIntCashAccount <span class="badge badge-danger">139094</span></li>
                            <li>GetIndex <span class="badge badge-danger">138837</span></li>
                            <li>GetOTCBondlb <span class="badge badge-danger">121801</span></li>
                            <li>GetIntSecuAccount <span class="badge badge-danger">114953</span></li>
                            <li>GetIntCashPosition <span class="badge badge-danger">98222</span></li>
                            <li>GetExtCashAccount <span class="badge badge-danger">95613</span></li>
                            <li>GetAccSecuMapping <span class="badge badge-danger">81359</span></li>
                            <li>GetPrintTemplates <span class="badge badge-danger">77859</span></li>
                            <li>GetServerBizDict_Tree <span class="badge badge-danger">76266</span></li>
                            <li>GetTaskParam <span class="badge badge-danger">67324</span></li>
                            <li>GetOTCBondForward <span class="badge badge-danger">65426</span></li>
                            <li>GetServerBizDict_Str_List <span class="badge badge-danger">60277</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    调用次数-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>Query <span class="badge badge-danger">5</span></li>
                            <li>GetServerBizDict_Str_Str <span class="badge badge-danger">4</span></li>
                            <li>GetSysParamTable <span class="badge badge-danger">3</span></li>
                            <li>GetCMDTOption <span class="badge badge-danger">2</span></li>
                            <li>GetEquityStructureORTemp <span class="badge badge-danger">2</span></li>
                            <li>GetMyMoudle <span class="badge badge-danger">2</span></li>
                            <li>GetShgFixOrder <span class="badge badge-danger">2</span></li>
                            <li>GetInvestInsOrder <span class="badge badge-danger">2</span></li>
                            <li>GetSettleConfig <span class="badge badge-danger">2</span></li>
                            <li>GetCounterPartyByPartyId <span class="badge badge-danger">2</span></li>
                            <li>GetLogonType <span class="badge badge-danger">1</span></li>
                            <li>CheckServerFinished <span class="badge badge-danger">1</span></li>
                            <li>AllowLogonByJobID <span class="badge badge-danger">1</span></li>
                            <li>GetU_ID <span class="badge badge-danger">1</span></li>
                            <li>TryLogon <span class="badge badge-danger">1</span></li>
                            <li>MustChangePwd <span class="badge badge-danger">1</span></li>
                            <li>Logon <span class="badge badge-danger">1</span></li>
                            <li>SendClientInfo <span class="badge badge-danger">1</span></li>
                            <li>GetApplicationInfo <span class="badge badge-danger">1</span></li>
                            <li>RetrieveUpgradeFiles <span class="badge badge-danger">1</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>