<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    总耗时-排行
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li>GetMessageList <span class="badge badge-danger">耗时：24906</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
