<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    总耗时-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> A04F541D <span class="badge badge-danger">27489</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 74F94F74 <span class="badge badge-danger">23199</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 3A06ACBD <span class="badge badge-danger">20964</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 60E38F7F <span class="badge badge-danger">20087</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> A98A0D49 <span class="badge badge-danger">11835</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 64B13C0A <span class="badge badge-danger">10293</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_md</span> 8458A15 <span class="badge badge-danger">9921</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 50A6F7CE <span class="badge badge-danger">7678</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> CF806706 <span class="badge badge-danger">5139</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 165F3811 <span class="badge badge-danger">5039</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 7CF92B4D <span class="badge badge-danger">4914</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 6195CBB7 <span class="badge badge-danger">4305</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 4F3FC4B6 <span class="badge badge-danger">3157</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> A992B8B <span class="badge badge-danger">2929</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> E289C963 <span class="badge badge-danger">2605</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_app</span> 50A0B676 <span class="badge badge-danger">2471</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_md</span> 2ED9C0 <span class="badge badge-danger">2466</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_md</span> B021ED06 <span class="badge badge-danger">2419</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 2AECAFAA <span class="badge badge-danger">2380</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> C3F30DAE <span class="badge badge-danger">2285</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    平均耗时-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 60E38F7F <span class="badge badge-danger">20087</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> A98A0D49 <span class="badge badge-danger">5917.5</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 7CF92B4D <span class="badge badge-danger">4914</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 6195CBB7 <span class="badge badge-danger">4305</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> A992B8B <span class="badge badge-danger">2929</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_md</span> 2ED9C0 <span class="badge badge-danger">2466</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> C3F30DAE <span class="badge badge-danger">2285</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> A175A910 <span class="badge badge-danger">1119</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> BB4152BA <span class="badge badge-danger">653</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 35682D3E <span class="badge badge-danger">610</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 2593CD91 <span class="badge badge-danger">567</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> E9843472 <span class="badge badge-danger">499</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 37E7E3CD <span class="badge badge-danger">497</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 2AC61EBD <span class="badge badge-danger">489</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 7CAF565C <span class="badge badge-danger">442</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> CB443CA9 <span class="badge badge-danger">371</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 75F5EC35 <span class="badge badge-danger">359</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 9764D23E <span class="badge badge-danger">341</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 4645049F <span class="badge badge-danger">326</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 345913B8 <span class="badge badge-danger">301</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    执行次数-排行榜
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 3A06ACBD <span class="badge badge-danger">9939</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> A04F541D <span class="badge badge-danger">9734</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_md</span> 8458A15 <span class="badge badge-danger">3535</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 64B13C0A <span class="badge badge-danger">3452</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 74F94F74 <span class="badge badge-danger">3257</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 50A6F7CE <span class="badge badge-danger">2284</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> CF806706 <span class="badge badge-danger">1460</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 165F3811 <span class="badge badge-danger">1460</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 19AC6F54 <span class="badge badge-danger">790</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 4F3FC4B6 <span class="badge badge-danger">555</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_md</span> B021ED06 <span class="badge badge-danger">485</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_app</span> 50A0B676 <span class="badge badge-danger">356</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_md</span> 13A9AE89 <span class="badge badge-danger">277</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> E289C963 <span class="badge badge-danger">247</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> A2709E0C <span class="badge badge-danger">206</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 406637BB <span class="badge badge-danger">154</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 4A53E50E <span class="badge badge-danger">71</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 63F4A26A <span class="badge badge-danger">71</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> 4D028BDC <span class="badge badge-danger">65</span></li>
                            <li><span class="badge badge-success font-weight-bold">xir_trd</span> F5753838 <span class="badge badge-danger">54</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" style="margin-bottom:10px">
            <div class="card text-left font-weight-bold">
                <div class="card-header">
                    SQL-Hash 对应关系
                </div>
                <div class="card-body">
                    <div class="card-text">

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_74F94F74" role="alert"
                             aria-expanded="true">
                            74F94F74
                            <div class="font-weight-normal collapse show" id="sqlhash_74F94F74" style="">
                                UPDATE TTRD_SEND_TRADE SET STATUS = :STATUS WHERE REF_TRADE = :REF_TRADE AND UPDATE_TIME =
                                :UPDATE_TIME
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_3A06ACBD" role="alert"
                             aria-expanded="true">
                            3A06ACBD
                            <div class="font-weight-normal collapse show" id="sqlhash_3A06ACBD" style="">
                                SELECT S_AOTOINC_OTC_UPDATE_LOG_ID.NEXTVAL FROM DUAL
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_A98A0D49"
                             role="alert">
                            A98A0D49
                            <div class="collapse font-weight-normal" id="sqlhash_A98A0D49">
                                INSERT INTO TTRD_OTC_POOL_COMPONENT (
                                OTCPOOLID,COMPONENT,COMPONENTTYPE,SORT,ROLES,SOURCE,BEGDATE,OPERATOR,OUTPOOLDATE,REMARK,SYSORDID,SELF_GRADE)
                                VALUES(:OTCPOOLID,:COMPONENT,:COMPONENTTYPE,:SORT,:ROLES,:SOURCE,:BEGDATE,:OPERATOR,:OUTPOOLDATE,:REMARK,:SYSORDID,:SELF_GRADE)
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_8458A15" role="alert">
                            8458A15
                            <div class="collapse font-weight-normal" id="sqlhash_8458A15">
                                SELECT MIN(CAL_DAY) FROM TCALENDAR_DATES WHERE CAL_CODE=:CAL_CODE AND CAL_DAY&gt;:CAL_DAY
                                AND CAL_FLAG=1
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_50A6F7CE"
                             role="alert">
                            50A6F7CE
                            <div class="collapse font-weight-normal" id="sqlhash_50A6F7CE">
                                SELECT A.*,B.I_NAME,B.TRDTYPE,B.PARTYID FROM XIR_TRD.TTRD_OTC_FWDBOND A
                                INNER JOIN XIR_TRD.TTRD_OTC_TRADE B ON A.I_CODE = B.INTORDID
                                WHERE A.I_CODE=:I_CODE AND A.A_TYPE=:A_TYPE AND A.M_TYPE=:M_TYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_CF806706"
                             role="alert">
                            CF806706
                            <div class="collapse font-weight-normal" id="sqlhash_CF806706">
                                SELECT S.* FROM TTRD_OTC_OUTRIGHT_IR S WHERE H_I_CODE=:H_I_CODE AND H_A_TYPE=:H_A_TYPE AND
                                H_M_TYPE=:H_M_TYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_165F3811"
                             role="alert">
                            165F3811
                            <div class="collapse font-weight-normal" id="sqlhash_165F3811">
                                SELECT A.*,B.I_NAME,B.TRDTYPE,B.PARTYID,COALESCE(C.RT_L_AMOUNT*100,PARVALUE) AS
                                PARVALUE_REMAIN
                                FROM XIR_TRD.TTRD_OTC_OUTRIGHT A
                                INNER JOIN XIR_TRD.TTRD_OTC_TRADE B
                                ON A.I_CODE = B.I_CODE AND A.A_TYPE = B.A_TYPE AND A.M_TYPE = B.M_TYPE
                                LEFT JOIN TTRD_ACC_BALANCE_SECU C
                                ON A.I_CODE = C.I_CODE AND A.A_TYPE = C.A_TYPE AND A.M_TYPE = C.M_TYPE
                                WHERE A.I_CODE=:I_CODE AND
                                A.A_TYPE=:A_TYPE AND
                                A.M_TYPE=:M_TYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_4F3FC4B6"
                             role="alert">
                            4F3FC4B6
                            <div class="collapse font-weight-normal" id="sqlhash_4F3FC4B6">
                                SELECT TO_CHAR(SYSDATE,'YYYY-MM-DD') FROM DUAL
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_A992B8B" role="alert">
                            A992B8B
                            <div class="collapse font-weight-normal" id="sqlhash_A992B8B">
                                SELECT
                                T2.REF_TRADE,
                                T2.UPDATE_TIME,
                                T2.STATUS,
                                T2.TRDTYPE,
                                T2.REF_SYSORDID
                                FROM TTRD_SEND_TRADE T2
                                WHERE T2.STATUS &lt;&gt; 1
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_E289C963"
                             role="alert">
                            E289C963
                            <div class="collapse font-weight-normal" id="sqlhash_E289C963">
                                SELECT SYSDATE FROM DUAL
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_50A0B676"
                             role="alert">
                            50A0B676
                            <div class="collapse font-weight-normal" id="sqlhash_50A0B676">
                                SELECT * FROM TSYS_USER WHERE U_ID = ''
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_2ED9C0" role="alert">
                            2ED9C0
                            <div class="collapse font-weight-normal" id="sqlhash_2ED9C0">
                                SELECT * FROM TIRSWAP T
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_2AECAFAA"
                             role="alert">
                            2AECAFAA
                            <div class="collapse font-weight-normal" id="sqlhash_2AECAFAA">
                                SELECT BB.*, '' AS TEXTREAL, '' AS REAL_USER FROM VTRD_FIX_ENDCONFIRM BB WHERE BB.UPDATETIME
                                &gt; TO_CHAR(SYSDATE,'YYYY-MM-DD') AND BB.QUOTEDATE = TO_CHAR(SYSDATE,'YYYY-MM-DD')
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_BB4152BA"
                             role="alert">
                            BB4152BA
                            <div class="collapse font-weight-normal" id="sqlhash_BB4152BA">
                                SELECT A.*
                                FROM TTRD_OTC_OUTRIGHT_IR A
                                INNER JOIN TTRD_OTC_OUTRIGHT B
                                ON A.H_I_CODE = B.I_CODE AND A.H_A_TYPE = B.A_TYPE AND A.H_M_TYPE = B.M_TYPE
                                INNER JOIN TTRD_OTC_TRADE C ON C.I_CODE = A.H_I_CODE AND C.A_TYPE = A.H_A_TYPE AND C.M_TYPE
                                = A.H_M_TYPE
                                INNER JOIN VTTRD_ACC_SECU_RIGHT D ON D.ACCID=C.SECU_ACCID AND D.USER_CODE=:USER_CODE
                                WHERE B.ENDSETDATE&gt;=:MIN_END_DATE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_35682D3E"
                             role="alert">
                            35682D3E
                            <div class="collapse font-weight-normal" id="sqlhash_35682D3E">
                                SELECT TF.FINANCINGID
                                FROM TTRD_OTC_FINANCING TF
                                WHERE TF.REF_SYSORDIDS LIKE '%431939%'
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_2593CD91"
                             role="alert">
                            2593CD91
                            <div class="collapse font-weight-normal" id="sqlhash_2593CD91">
                                SELECT A.*,B.I_NAME,B.TRDTYPE,B.PARTYID,COALESCE(AMOUNT-D.PRE_AMOUNT,AMOUNT) AS
                                AMOUNT_REMAIN
                                FROM TTRD_OTC_IBLB A
                                INNER JOIN TTRD_OTC_TRADE B
                                ON A.I_CODE = B.I_CODE AND A.A_TYPE = B.A_TYPE AND A.M_TYPE = B.M_TYPE
                                LEFT JOIN
                                (SELECT I_CODE,A_TYPE,M_TYPE,SECU_ACCID,SECU_EXT_ACCID,SUM(ORDCOUNT) AS PRE_AMOUNT
                                FROM TTRD_OTC_TRADE
                                WHERE TRDTYPE IN ('217','218') AND　ORDSTATUS = '7'
                                GROUP BY I_CODE,A_TYPE,M_TYPE,SECU_ACCID,SECU_EXT_ACCID) D
                                ON B.I_CODE = D.I_CODE AND B.A_TYPE = D.A_TYPE AND B.M_TYPE = D.M_TYPE　AND B.SECU_ACCID =
                                D.SECU_ACCID AND B.SECU_EXT_ACCID = D.SECU_EXT_ACCID
                                INNER JOIN VTTRD_ACC_SECU_RIGHT C ON B.SECU_ACCID=C.ACCID AND C.USER_CODE=:USER_CODE
                                WHERE B.TRDTYPE
                                IN('42','43','96','95','41','40','52','53','323','322','325','324','327','326','352','351','354','353')
                                AND A.ENDSETDATE&gt;='2019-03-29'
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_E9843472"
                             role="alert">
                            E9843472
                            <div class="collapse font-weight-normal" id="sqlhash_E9843472">
                                SELECT TF.FINANCINGID
                                FROM TTRD_OTC_FINANCING TF
                                WHERE TF.REF_SYSORDIDS LIKE '%438590%'
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_7CAF565C"
                             role="alert">
                            7CAF565C
                            <div class="collapse font-weight-normal" id="sqlhash_7CAF565C">
                                SELECT A.*,B.I_NAME,B.TRDTYPE,B.PARTYID FROM TTRD_OTC_FRA A
                                INNER JOIN TTRD_OTC_TRADE B ON A.I_CODE = B.I_CODE AND A.A_TYPE = B.A_TYPE AND A.M_TYPE =
                                B.M_TYPE
                                INNER JOIN VTTRD_ACC_SECU_RIGHT C ON B.SECU_ACCID=C.ACCID AND C.USER_CODE='lzc'
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_CB443CA9"
                             role="alert">
                            CB443CA9
                            <div class="collapse font-weight-normal" id="sqlhash_CB443CA9">
                                SELECT
                                A.I_CODE,A.A_TYPE,A.M_TYPE,A.CURRENCY,A.Q_TYPE,A.P_TYPE,A.P_CLASS,A.RATE,A.OVERDUE_RATE,A.AMOUNT,A.START_DATE,
                                A.MATER_DATE,A.TERM,A.DAYCOUNT,A.ACCRUAL_FREQ,A.VER_ID,A.CREATE_TIME,A.AUTO_REDEPO,A.CERTIFICATE_NO,A.ACC_NO,A.IMP_TIME,A.CORE_ACCNO,
                                A.CORE_ACCNAME,A.P_SUB_CLASS, A.PRETAKEPERCENT, A.ISAUTOCONFIRMINSTRUCTION,
                                A.DAYCONVERSION,A.MATER_DATE_DAYCONVERSION,A.FSTPAYMENTDATE, B.TRDTYPE,B.PARTYID,B.I_NAME
                                FROM TTRD_OTC_IBDEPO_FIXEDTERM A
                                INNER JOIN TTRD_OTC_TRADE B ON A.I_CODE = B.I_CODE AND A.A_TYPE = B.A_TYPE AND A.M_TYPE =
                                B.M_TYPE
                                INNER JOIN VTTRD_ACC_SECU_RIGHT C ON B.SECU_ACCID=C.ACCID AND C.USER_CODE='lzc'
                                WHERE A.VER_ID = '0'
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_75F5EC35"
                             role="alert">
                            75F5EC35
                            <div class="collapse font-weight-normal" id="sqlhash_75F5EC35">
                                SELECT TF.FINANCINGID
                                FROM TTRD_OTC_FINANCING TF
                                WHERE TF.REF_SYSORDIDS LIKE '%433378%'
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_19AC6F54"
                             role="alert">
                            19AC6F54
                            <div class="collapse font-weight-normal" id="sqlhash_19AC6F54">
                                SELECT S.* FROM TTRD_OTC_PLEDGEBOND S WHERE I_CODE=:I_CODE AND A_TYPE=:A_TYPE AND
                                M_TYPE=:M_TYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_13A9AE89"
                             role="alert">
                            13A9AE89
                            <div class="collapse font-weight-normal" id="sqlhash_13A9AE89">

                                SELECT B_FPML
                                FROM TBND
                                WHERE I_CODE=:I_CODE AND A_TYPE=:A_TYPE AND M_TYPE=:M_TYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_A2709E0C"
                             role="alert">
                            A2709E0C
                            <div class="collapse font-weight-normal" id="sqlhash_A2709E0C">
                                SELECT A.*,B.I_NAME,B.TRDTYPE,B.PARTYID FROM TTRD_OTC_IR_SWAP A
                                INNER JOIN TTRD_OTC_TRADE B ON A.I_CODE = B.I_CODE AND A.A_TYPE = B.A_TYPE AND A.M_TYPE =
                                B.M_TYPE
                                WHERE
                                A.I_CODE=:I_CODE AND A.A_TYPE=:A_TYPE AND A.M_TYPE=:M_TYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_406637BB"
                             role="alert">
                            406637BB
                            <div class="collapse font-weight-normal" id="sqlhash_406637BB">

                                SELECT FPML
                                FROM TTRD_OTC_IR_SWAP
                                WHERE I_CODE=:I_CODE AND A_TYPE=:A_TYPE AND M_TYPE=:M_TYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_4A53E50E"
                             role="alert">
                            4A53E50E
                            <div class="collapse font-weight-normal" id="sqlhash_4A53E50E">
                                SELECT COUNT(1) FROM TTRD_OTC_POOL AA WHERE AA.BLACKWHITELISTTYPE !=0 AND AA.POOLTYPE =
                                :POOLTYPE
                                AND AA.OTCPOOLCODE IN (SELECT OTCPOOLID from TTRD_OTC_POOL_COMPONENT BB WHERE BB.COMPONENT =
                                :COMPONENT) AND AA.BLACKWHITELISTTYPE = :BLACKWHITELISTTYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_63F4A26A"
                             role="alert">
                            63F4A26A
                            <div class="collapse font-weight-normal" id="sqlhash_63F4A26A">
                                SELECT COUNT(1) FROM TTRD_OTC_POOL AA WHERE AA.BLACKWHITELISTTYPE !=0 AND AA.POOLTYPE =
                                :POOLTYPE
                                AND AA.OTCPOOLCODE IN (SELECT OTCPOOLID from TTRD_OTC_POOL_COMPONENT BB WHERE BB.COMPONENT =
                                :COMPONENT)
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_4D028BDC"
                             role="alert">
                            4D028BDC
                            <div class="collapse font-weight-normal" id="sqlhash_4D028BDC">
                                SELECT
                                I_CODE,A_TYPE,M_TYPE,C_I_CODE,C_A_TYPE,C_M_TYPE,FPML,TRDTYPE,PRODUCTTYPE,OPTION_TYPE,STRIKE,FEATUREPAYMENTAMOUNT,KNOCKTYPE,KNOCKLEVEL,OBVSTARTDATE,OBVENDDATE,OBVFREQUENCY,ISSTG,KNOCKLEVEL_H,KNOCKOPPORTUNITY,STRIKE_PRICE_RATE,KNOCKLEVEL_RATE,KNOCKLEVEL_H_RATE
                                FROM XIR_MD.TEQUITY_STRUCTURE_FPML WHERE I_CODE=:I_CODE AND A_TYPE=:A_TYPE AND
                                M_TYPE=:M_TYPE
                            </div>
                        </div>

                        <div class="alert alert-success" data-toggle="collapse" data-target="#sqlhash_F5753838"
                             role="alert">
                            F5753838
                            <div class="collapse font-weight-normal" id="sqlhash_F5753838">
                                SELECT BB.*, '' AS TEXTREAL, '' AS REAL_USER FROM VTRD_FIX_QUOTE_BILLS BB WHERE
                                BB.UPDATETIME &gt; TO_CHAR(SYSDATE,'YYYY-MM-DD') AND BB.QUOTEDATE =
                                TO_CHAR(SYSDATE,'YYYY-MM-DD')
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
