<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/lib/bootstrap.css" rel="stylesheet">
    <script src="~/lib/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap.bundle.js"></script>
    <script src="~/lib/echarts.min.js"></script>
    <script src="~/lib/report.js"></script>
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="my-nav-button navbar-brand" data-target="index">xQuant图表报告</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="memory">内存</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="clientLaunch">客户端启动</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="serverLaunch">中间件启动</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="cache">缓存</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="monitor">事项</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="performance">请求</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="sql">SQL</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="quota">指标</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-button nav-link text-dark" data-target="coreservice">异常异步服务</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="text-center">
            @RenderBody()
        </div>
    </div>
    <a class="btn btn-sm btn-outline-primary" z-index="-1" style="position:fixed;right:20px;bottom:20px" href="#header">返回顶部</a>
</body>
</html>
